.orderSelfPayUser {
  .orderTableContainer {
    height: calc(100% - 52px);
    overflow: auto;
    padding-right: 0.75rem;
    background-color: #efefef;

    @include rwd($md) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .orderFilterContainer {
    display: flex;
    flex-wrap: wrap;

    span {
      margin: 1rem;
      margin-left: 0;
      margin-top: 0;
      cursor: pointer;
    }
  }

  .orderStatusBox {
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid #343434;
    border-radius: 8px;
    color: #343434;
    cursor: pointer;

    &.active {
      color: #f3981a;
      border: 1px solid #f3981a;
      background-color: #f3981a;
      color: #fff;
    }
  }

  .orderContainer {
    display: flex;
    height: 160px;
    margin-bottom: 1rem;

    @include rwd($md) {
      flex-direction: column;
      height: auto;
      width: 48%;
      margin: 0 1%;
      margin-bottom: 2rem;
    }

    @include rwd($sm) {
      width: 100%;
    }
  }

  .orderLeft {
    width: 30%;
    background: #f3981a;
    display: flex;
    flex-direction: column;
    color: #fff;
  }

  .orderLeftTitle {
    font-size: 16px;
    margin-bottom: 0.7rem;
    font-weight: 700;
    padding: 0.5rem;
    border-bottom: 1px solid #fff;
  }

  .orderLeftDetail {
    padding: 0.5rem;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    font-weight: 700;
    font-size: 14px;

    p {
      @include rwd($md) {
        margin-bottom: 0.5rem;
      }
    }
  }

  .orderCenter {
    width: 50%;
    background: #fff;
    display: flex;
    flex-direction: column;
  }

  .orderCenterTitle {
    display: flex;
    font-size: 16px;
    font-weight: 700;
    padding: 0.5rem;
    border-bottom: 1px solid #000;

    @include rwd($md) {
      font-size: 15px;
      font-weight: 500;
    }
  }

  .isCarpool {
    margin-right: auto;
    color: #f3981a;
  }

  .wheelchairType {
    margin-right: 1rem;
  }

  .orderCenterDetail {
    display: flex;
    height: 100%;
  }

  .driverInfo {
    padding-top: 1rem;
    width: 40%;
    font-size: 14px;
    height: 100%;
    padding: 0.5rem;
    border-right: 1px solid gray;

    @include rwd($md) {
      padding: 1rem;
      display: flex;
      flex-direction: column;
    }

    div {
      @include rwd($md) {
        text-align: center;
      }
    }
  }

  .driverName {
    font-size: 24px;
    margin-bottom: 0.5rem;
  }

  .userId {
    margin-bottom: 0.5rem;
  }

  .addressInfo {
    padding-top: 1rem;
    width: 60%;
    height: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .startAdd,
  .endAdd {
    text-align: center;
    padding: 0.5rem;
    border-radius: 8px;
    max-width: 100%;
    @include rwd($md) {
      font-size: 15px;
    }
  }

  .startAdd {
    background-color: lightblue;
  }

  .endAdd {
    background-color: lightpink;
  }

  .orderRight {
    width: 20%;
    background-color: #343434;
    display: flex;
    flex-direction: column;
  }

  .orderRightTitle {
    display: flex;
    padding: 0.4rem;
    background-color: #888;
  }

  .orderStatus {
    margin-left: auto;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
  }

  .changeOrder {
    font-size: 14px;
    border-radius: 100px;
    box-shadow: none;
    color: #fff;
    border: 1px solid #fff;
    background: #a79509;
  }

  .orderRightDetail {
    padding: 0.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    margin: 1rem 0;
    font-weight: 700;

    @include rwd($md) {
      margin: 0;
      padding: 1em;
      height: 130px;
    }
  }

  .rightBtnBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .orderButton {
    font-size: 15px;
    border-radius: 100px;
    border: 2px solid #fff;
    font-weight: 700;
    margin: 0.5rem;
    padding: 0.25rem 0.5rem;
  }

  .orderEdit {
    color: #fff;
    background-color: #138496;
  }
  .orderStatus {
    color: #fff;
    background-color: #138496;
  }
  .orderCancel {
    color: #fff;
    background-color: #aa0000;
  }

  .orderDetail {
    color: #fff;
    background-color: #138496;
  }

  .orderLeft,
  .orderCenter,
  .orderRight {
    @include rwd($md) {
      width: 100%;
    }
  }
}

.passengerTitle {
  // margin-bottom: 0.5rem;
  font-weight: 700;
}
