.allOrderDetail {
  .formContainer {
    @include rwd($l) {
    }
  }
  .tabContainer {
    height: calc(100vh - 320px);
    // background: lightcyan;
    display: flex;
    flex-wrap: wrap;

    @include rwd($l) {
      height: calc(150vh - 320px) !important;
      //   flex-wrap: wrap;
      //   flex-direction: column;
    }

    @include rwd($sm) {
      height: calc(200vh - 320px) !important;
    }
  }

  .tabContainer2 {
    @include rwd($l) {
      height: calc(100vh - 320px) !important;
    }
    @include rwd($md) {
      flex-direction: column !important ;
      flex-wrap: inherit;
    }
  }
  .orderBox {
    width: 20%;
    height: 100%;
    background: lightgoldenrodyellow;
    @include rwd($l) {
      width: 50%;
      order: 2;
      height: 40%;
    }
    @include rwd($sm) {
      font-size: 16px;
      width: 100%;
    }
  }
  .orderBoxDetail {
    background-image: linear-gradient(
      180deg,
      #f3981a 0%,
      #f3971a 36%,
      #fd8115 79%
    );
    color: #fff;
    padding: 1.5rem 0.5rem;
    height: 80%;
    @include rwd($l) {
      height: 75%;
    }
    @include rwd($sm) {
      height: 65%;
    }
  }
  .orderCost {
    height: 20%;
    background-image: linear-gradient(
      180deg,
      #000000 0%,
      #1f1f1f 36%,
      #292828 79%
    );
    color: #fff;
    padding: 1.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include rwd($l) {
      padding: 0.5rem 0.5rem;
      height: 25%;
    }
    @include rwd($sm) {
      height: 35%;
      padding: 2rem 0.5rem;
    }
  }
  .routeBox {
    width: 70%;
    height: 100%;
    @include rwd($l) {
      width: 100%;
      order: 1;
      height: 60%;
    }
  }
  .routeTitle {
    height: 10%;
    padding: 0 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include rwd($xs) {
      font-size: 13px;
      flex-wrap: wrap;
    }
  }
  .routeMap {
    height: 40%;
    background: lightskyblue;
  }
  .routeDriver {
    height: 50%;
    display: flex;
    @include rwd($sm) {
      flex-direction: column;
    }
  }
  .caseUserDetailBox {
    width: 30%;
    height: 100%;
    padding: 2rem 1rem;
    position: relative;

    @include rwd($sm) {
      width: 100%;
      height: 40%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-bottom: 1px dashed #666;
    }

    @include rwd($xs) {
      font-size: 13px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 1px;
      height: 90%;
      background: #666666;
      right: 0;
      top: 5%;
      @include rwd($sm) {
        width: 0;
      }
    }
  }
  .routeTimeBox {
    width: 70%;
    height: 100%;
    padding: 2rem 1rem;
    @include rwd($sm) {
      width: 100%;
    }
    @include rwd($xs) {
      padding: 1rem 0.5rem;
      font-size: 8px;
    }
  }
  .routeTimeTitle {
    display: flex;
    justify-content: space-between;
    @include rwd($sm) {
      width: 100%;
    }
  }
  .orderCostDetail {
    width: 10%;
    height: 100%;
    background: #343434;
    padding: 2rem 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    @include rwd($l) {
      width: 50%;
      order: 3;
      height: 40%;
    }
  }
  .caseUserBox {
    width: 20%;
    height: 100%;
    padding: 2rem 0.5rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: c;
    background-image: linear-gradient(
      180deg,
      #f3981a 0%,
      #f3971a 36%,
      #fd8115 79%
    );
    @include rwd($md) {
      width: 100%;
      height: 15%;
      flex-direction: row;
      font-size: 13px;
      justify-content: space-around;
    }
    @include rwd($sm) {
      height: 10%;
    }
    h3,
    h2 {
      @include rwd($md) {
        margin: 0;
      }
    }
  }
  .userPicBox {
    background: #777777;
    width: 150px;
    height: 150px;
    @include rwd($md) {
      width: 80px;
      height: 80px;
    }
    @include rwd($sm) {
      height: 50px;
      width: 50px;
    }
  }
  .routeMain {
    width: 80%;
    height: 100%;
    @include rwd($md) {
      width: 100%;
      height: 85%;
    }
    @include rwd($sm) {
      height: 90%;
    }
  }
  .routeMainHeader {
    height: 10%;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;

    @include rwd($md) {
      font-size: 13px;
      padding: 0;
    }
    @include rwd($sm) {
      font-size: 10px;
    }
  }
  .startRoute {
    background: #add8e6;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    @include rwd($md) {
      padding: 0.5rem 0.5rem;
    }
  }
  .endRoute {
    background: #ffb6ce;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    @include rwd($md) {
      padding: 0.5rem 0.5rem;
    }
  }
  .customSteps {
    margin-top: 1rem;
    // background: chartreuse;
    height: 20%;
    @include rwd($md) {
      font-size: 10px;
    }

    .el-step__description {
      font-size: 13px;
      @include rwd($md) {
        font-size: 10px;
      }
    }
    .el-step__title {
      font-size: 16px;
      @include rwd($md) {
        font-size: 10px;
      }
    }
  }
  .mapMainContainer {
    height: 60%;
    width: 100%;
  }
  .mapHeader,
  .mapFooter {
    height: 5%;
    font-size: 13px;
    width: 100%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .googleMapContainer {
    height: 90%;
    background-color: cornflowerblue;
  }
  .driverRecord {
    padding: 0 1rem;
  }
  .costBox {
    width: 10%;
    height: 100%;
    background-image: linear-gradient(
      180deg,
      #474747 0%,
      #202020 36%,
      #000000 79%
    );
  }
  .caseUserHeader {
    height: 10%;
    width: 100%;
    // background: lime;
    display: flex;
    // flex-wrap: wrap;
    margin-bottom: 1rem;
    box-shadow: 0px 0px 9px rgba(171, 171, 171, 0.5);
    @include rwd($md) {
      flex-direction: column;
    }
  }
  .caseUserNo {
    padding: 1rem;
    height: 100%;
    width: 20%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-weight: 700;
    background-image: linear-gradient(
      90deg,
      #f3981a 0%,
      #f3971a 36%,
      #fd8115 79%
    );
    @include rwd($md) {
      width: 25%;
    }
    @include rwd($md) {
      width: 100%;
      flex-direction: row;
    }
    p {
      @include rwd($md) {
        margin: 0 !important;
      }
    }
  }
  .caseUserStatus {
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
    @include rwd($md) {
      width: 60%;
    }
    @include rwd($md) {
      width: 100%;
      justify-content: space-around;
    }
    @include rwd($sm) {
      font-size: 13px;
    }
  }
  .caseUserPay {
    width: 15%;
    height: 100%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 700;
    @include rwd($md) {
      width: 100%;
    }
  }
  .caseUserMainContainer {
    height: calc(90% - 1rem);
    width: 100%;
    display: flex;
    @include rwd($md) {
      flex-direction: column;
    }
  }
  .caseUserNameBox {
    height: 100%;
    width: 20%;
    background-image: linear-gradient(
      180deg,
      #f3981a 0%,
      #f3971a 36%,
      #fd8115 79%
    );
    margin-right: 1rem;
    color: #fff;
    @include rwd($md) {
      width: 25%;
    }
    @include rwd($md) {
      width: 100%;
      height: 30%;
    }
  }
  .caseUserNameBoxTop {
    padding: 2rem 1rem;
    height: 70%;
    display: flex;
    align-items: center;
    //   justify-content: center;
    flex-direction: column;
    @include rwd($md) {
      flex-direction: row;
      justify-content: space-around;
    }
    @include rwd($sm) {
      flex-direction: column;
      // font-size: 13px;
    }
  }
  .caseUserNameBoxBottom {
    height: 30%;
    display: flex;
    align-items: center;
    //   justify-content: center;
    flex-direction: column;
    background: #343434;
    padding: 2rem 1rem;
    @include rwd($md) {
      flex-direction: row;
      justify-content: space-around;
    }

    @include rwd($sm) {
      flex-direction: column;
      font-size: 14px;
    }
    p {
      @include rwd($lg) {
        font-size: 14px;
      }
      @include rwd($md) {
        font-size: 16px;
        margin: 0;
      }
    }
  }
  .caseUserDetailMain {
    height: 100%;
    width: calc(80% - 1rem);
    // background: lightseagreen;
    @include rwd($md) {
      width: 100%;
    }
  }
  .caseUserMainTop {
    width: 100%;
    height: 70%;
    // background: lightsteelblue;
    margin-bottom: 1rem;
    display: flex;
    padding: 2rem 1rem;
    box-shadow: 0px 0px 9px rgba(171, 171, 171, 0.5);
    @include rwd($l) {
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
    @include rwd($md) {
      flex-direction: row;
    }
    @include rwd($sm) {
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
  }
  .mainBoxA,
  .mainBoxB {
    @include rwd($l) {
      padding: 1rem;
      border: 1px dashed $colorOrange;
      border-radius: 8px;
    }

    h1 {
      color: $colorOrange;
      margin-bottom: 1rem;
    }
    p {
      margin-bottom: 0.5rem;
    }
  }
  .mainBoxA {
    width: 70%;
    @include rwd($l) {
      width: 400px;
    }
    @include rwd($md) {
      width: 55%;
    }
    @include rwd($sm) {
      width: 85%;
    }
    @include rwd($sm) {
      width: 100%;
      h1 {
        font-size: 1.3rem;
      }
      p {
        font-size: 14px;
      }
    }
  }
  .mainBoxB {
    width: 30%;
    @include rwd($l) {
      width: 400px;
    }
    @include rwd($md) {
      width: 30%;
    }
    @include rwd($sm) {
      width: 85%;
    }

    @include rwd($sm) {
      width: 100%;
      h1 {
        font-size: 1.3rem;
      }
      p {
        font-size: 14px;
      }
    }
  }
  .caseUserMainBottom {
    width: 100%;
    height: calc(30% - 1rem);
    padding: 1rem 0.5rem;
    box-shadow: 0px 0px 9px rgba(171, 171, 171, 0.5);

    h2 {
      color: $colorOrange;
    }
    // background: lightyellow;
  }
  .userPayHeader {
    width: 100%;
    height: 10%;
    // background: lightyellow;
    display: flex;
    margin-bottom: 1rem;
  }
  .userStatus {
    margin-left: 1rem;
    width: calc(80% - 1rem);
    box-shadow: 0px 0px 9px rgba(171, 171, 171, 0.5);
    padding: 0 1rem;
    display: flex;
    align-items: center;
    h3 {
      color: #00a150;
      margin-right: 3rem;
    }
  }
  .userPayMainContainer {
    width: 100%;
    height: calc(90% - 1rem);
    display: flex;
    // background: lightsteelblue;
  }
  .userPayUserDetail {
    width: 20%;
    height: 100%;
    background: magenta;
    margin-right: 1rem;
  }
  .userPayMainData {
    height: 100%;
    width: calc(40% - 1rem);
    // background: mediumaquamarine;
    margin-right: 1rem;
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 9px rgba(171, 171, 171, 0.5);
    flex-direction: column;
  }
  .allPay {
    color: $colorOrange;
    font-size: 3rem;
    font-weight: 700;
  }
  .userPayRoute {
    height: 100%;
    width: calc(40% - 1rem);
    // background: moccasin;
  }

  .userPayRouteTop {
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 9px rgba(171, 171, 171, 0.5);
    height: 70%;
    p {
      margin-bottom: 1rem;
      font-size: 1.2rem;
    }
  }
  .userPayRouteBottom {
    height: 30%;
    color: #fff;
    background: #343434;
    padding: 2rem 1rem;
  }
  .fixRecord {
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px dashed rgb(192, 192, 192);
  }
  .rbBoxs {
    display: flex;
    align-items: center;
    flex-direction: column;
    @include rwd($l) {
      flex-direction: row;
      justify-content: space-around;
    }
  }
  .rbBox {
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
    background: lightcoral;
  }
  .caseUserUid {
    @include rwd($l) {
      flex-direction: row;
      justify-content: space-around;
    }
  }
  .mb-1 {
    margin-bottom: 0.5rem;
  }
  .mb-2 {
    margin-bottom: 1rem;
  }
  .mb-3 {
    margin-bottom: 2.5rem;
  }
}
