// basic
@import "./css/basic/variable";
@import "./css/basic/mixin";
@import "./css/basic/reset";
@import "./css/basic/global";

// views
@import "./css/views/login";
// consoleTable
@import "./css/views/consoleTable/todayPickUp";
@import "./css/views/consoleTable/carUse";
@import "./css/views/consoleTable/revenueReport";
@import "./css/views/consoleTable/startRatio";
@import "./css/views/consoleTable/returnRatio";
@import "./css/views/consoleTable/monthlyReport";
@import "./css/views/consoleTable/hospitalRatio";
@import "./css/views/consoleTable/problemList";

// order

@import "./css/views/order/allOrder";
// components
@import "./css/components/header";
@import "./css/components/navbar";
